# Core requirements
fastapi
uvicorn
streamlit
pydantic

numpy
pillow
google-generativeai
opencv-python
python-multipart
requests
python-dotenv
openai
matplotlib
seaborn
kagglehub
plotly
scipy
tensorflow