# Core requirements
fastapi
uvicorn
streamlit
pydantic

torch==2.7.0
torchvision==0.22.0

numpy
pillow
google-generativeai
opencv-python
python-multipart
requests
python-dotenv
openai
matplotlib
seaborn
kagglehub
plotly
scipy

# cpu requirements
tensorflow; sys_platform == "darwin" 
# gpu requirements
tensorflow[and-cuda]; sys_platform == "linux" 
scikit-learn
ultralytics